In [12]:
import pandas as pd

In [42]:
df = pd.read_excel('food.xlsx')
df.head(100)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,Algeria,2515,Rye and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
96,4,Algeria,2515,Rye and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
97,4,Algeria,2516,Oats,5511,Production,1000 tonnes,57.00,68.00,72.00,64.00,118.00
98,4,Algeria,2516,Oats,5611,Import Quantity,1000 tonnes,13.00,32.00,24.00,7.00,2.00
99,4,Algeria,2516,Oats,5072,Stock Variation,1000 tonnes,0.00,3.00,2.00,-1.00,2.00

In [26]:
df['Y2014'].sum()

7965086.130000001

In [17]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [108]:
df.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [18]:
df['Y2016'].isnull().sum()

1535

In [67]:

df['Area'].nunique()

49

In [31]:
col1, col2 = "Y2014", "Element Code"
corr = df[col1].corr(df[col2])
corr

0.024456819495221795

In [32]:
col1, col2 = "Y2015", "Element Code"
corr = df[col1].corr(df[col2])
corr

0.023889199301639925

In [33]:
col1, col2 = "Y2016", "Element Code"
corr = df[col1].corr(df[col2])
corr

0.023443997584961428

In [34]:
col1, col2 = "Y2017", "Element Code"
corr = df[col1].corr(df[col2])
corr

0.024254007760045722

In [39]:
df['Element'].unique

<bound method Series.unique of 0                 Total Population - Both sexes
1                      Domestic supply quantity
2                 Food supply (kcal/capita/day)
3        Protein supply quantity (g/capita/day)
4            Fat supply quantity (g/capita/day)
                          ...
60938                                      Food
60939       Food supply quantity (kg/capita/yr)
60940             Food supply (kcal/capita/day)
60941    Protein supply quantity (g/capita/day)
60942        Fat supply quantity (g/capita/day)
Name: Element, Length: 60943, dtype: object>

In [60]:
df['Y2014'][df['Element']=='Fat supply quantity (g/capita/day)'].sum()

10225.560000000001

In [46]:
df['Y2018'][df['Element']=='Import Quantity'][df['Area']=='Algeria'].sum()

36238.29